jade/appointment-amend.jade
extends ./main.jade

block vars
	- var bodyClass = 'appointment amend';

block content

	section.heading
		div.row
			div.eight.columns
				h1 Appointment A0001
			div.four.columns.head-icon
				i.icon.right
					img(src="images/appointment.png")

	include _five-down

	section.app
		div.row
			div.eight.columns.white
				div.row.border
					div.panel.appointments Amend
				div.row
					div.twelve.columns
						label Status
						span.locked Cover Placed and Invoiced
				div.row
					div.six.columns
						label Appointment Date
						span.locked 21/04/2014
					div.six.columns
						label Period of Cover
						span.locked 21/04/2014 - 21/04/2015
				div.row
					div.twelve.columns
						label Situation
						input(type='text', value='123 Fake St. St Kilda, Victoria 3182')

				div.row
					h4 General
				div.row
					div.six.columns
						label Type of Cover
						| Home Elite
					div.six.columns
						label Insured Name
						input(type='text', value='Bob Brown')
				div.row
					div.six.columns
						label Mortgagee
						input(type='text', value='GE Money')
					div.six.columns
						label Interested Party
						input(type='text', placeholder='---')

				div.row
					h4 Insured Values
				div.row
					div.six.columns
						label Building
						input(type='text', value='$140,000')
					div.six.columns
						label Contents
						input(type='text', value='$50,000')
				div.row
					div.six.columns
						label Specified Items
						input(type='text', value='Not Insured')
					div.six.columns
						label Legal Liability
						input(type='text', value='$20,000,000')

				div.row
					h4 Building Details
				div.row
					div.six.columns
						label Building Type
						input(type='text', value='House')
					div.six.columns
						label Occupancy
						input(type='text', value='Unoccupied')
				div.row
					div.six.columns
						label Condition
						input(type='text', value='Good')
					div.six.columns
						label Heritage Listed
						input(type='text', value='No')
				div.row
					div.twelve.columns
						label Pre-Appointment Damage
						input(type='text', placeholder='---')
				div.row
					div.twelve.columns
						label Claims History
						input(type='text', placeholder='---')
					div.four.columns
				div.row
					div.twelve.columns
						a.medium.success.full.button(href='#') Save Changes
			include _appointment

appointment-amend.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="appointment amend"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1>Appointment A0001</h1>
    </div>
    <div class="four columns head-icon"><i class="icon right"><img src="images/appointment.png"></i></div>
  </div>
</section>
<div class="five-down row">
  <ul>
    <li><a href="#"><i class="icon pdf"></i><span>Confirmation of Placement</span></a></li>
    <li><a href="appointment-renew.html"><i class="icon renew"></i><span>Renew</span></a></li>
    <li class="current"><a href="appointment-amend.html"><i class="icon amend"></i><span>Amend</span></a></li>
    <li><a href="appointment-cancel.html"><i class="icon cancel"></i><span>Cancel</span></a></li>
    <li> <a href="appointment-claim.html"><i class="icon claim"></i><span>Lodge a Claim</span></a></li>
  </ul>
</div>
<section class="app">
  <div class="row">
    <div class="eight columns white">
      <div class="row border">
        <div class="panel appointments">Amend</div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <label>Status</label><span class="locked">Cover Placed and Invoiced</span>
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label>Appointment Date</label><span class="locked">21/04/2014</span>
        </div>
        <div class="six columns">
          <label>Period of Cover</label><span class="locked">21/04/2014 - 21/04/2015</span>
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <label>Situation</label>
          <input type="text" value="123 Fake St. St Kilda, Victoria 3182">
        </div>
      </div>
      <div class="row">
        <h4>General</h4>
      </div>
      <div class="row">
        <div class="six columns">
          <label>Type of Cover</label>Home Elite
        </div>
        <div class="six columns">
          <label>Insured Name</label>
          <input type="text" value="Bob Brown">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label>Mortgagee</label>
          <input type="text" value="GE Money">
        </div>
        <div class="six columns">
          <label>Interested Party</label>
          <input type="text" placeholder="---">
        </div>
      </div>
      <div class="row">
        <h4>Insured Values</h4>
      </div>
      <div class="row">
        <div class="six columns">
          <label>Building</label>
          <input type="text" value="$140,000">
        </div>
        <div class="six columns">
          <label>Contents</label>
          <input type="text" value="$50,000">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label>Specified Items</label>
          <input type="text" value="Not Insured">
        </div>
        <div class="six columns">
          <label>Legal Liability</label>
          <input type="text" value="$20,000,000">
        </div>
      </div>
      <div class="row">
        <h4>Building Details</h4>
      </div>
      <div class="row">
        <div class="six columns">
          <label>Building Type</label>
          <input type="text" value="House">
        </div>
        <div class="six columns">
          <label>Occupancy</label>
          <input type="text" value="Unoccupied">
        </div>
      </div>
      <div class="row">
        <div class="six columns">
          <label>Condition</label>
          <input type="text" value="Good">
        </div>
        <div class="six columns">
          <label>Heritage Listed</label>
          <input type="text" value="No">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <label>Pre-Appointment Damage</label>
          <input type="text" placeholder="---">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns">
          <label>Claims History</label>
          <input type="text" placeholder="---">
        </div>
        <div class="four columns"></div>
      </div>
      <div class="row">
        <div class="twelve columns"><a href="#" class="medium success full button">Save Changes</a></div>
      </div>
    </div>
    <div class="four columns sidebar appointment-side">
      <div class="row doc">
        <div class="twelve columns head">
          <div class="panel appointments callout">Documentation</div><a href="#" class="highlight">
            <div class="row mm">
              <div class="two columns side-icon"><img src="images/file.png"></div>
              <div class="ten columns side-info">Invoice_210414</div>
            </div></a><a href="#" class="highlight">
            <div class="row mm">
              <div class="two columns side-icon"><img src="images/file.png"></div>
              <div class="ten columns side-info">Policy_210414</div>
            </div></a><a href="#" class="view-all">View All</a>
        </div>
      </div>
      <div class="row transaction">
        <div class="twelve columns head">
          <div class="panel appointments callout">Transaction History</div><a href="#" class="highlight">
            <div class="row tran">
              <div class="twelve columns mm">
                <div class="twelve columns side-info date">25/12/2014</div>
              </div>
              <div class="twelve columns mm">
                <div class="twelve columns side-info">Transaction Name</div>
              </div>
            </div></a><a href="#" class="highlight">
            <div class="row tran">
              <div class="twelve columns mm">
                <div class="twelve columns side-info date">25/12/2014</div>
              </div>
              <div class="twelve columns mm"> 
                <div class="twelve columns side-info">Transaction Name</div>
              </div>
            </div></a><a href="#" class="view-all">View All</a>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>
