jade/current-appointments.jade
extends ./main.jade

block vars
	- var bodyClass = 'current-appointments';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Current Appointments
			div.four.columns.head-icon
				i.icon.right
					img(src="images/appointment.png")
	section.home.curr-apt
		div.row.curr
			.six.columns
				row.collapse
					.ten.columns
						input(type='text', placeholder='Search')
					.two.columns.search
						a(href="#")
							span.postfix.search 
			.six.columns
				a.excel.right(href='#') Export to Excel

		section.reports-header
			div.row
				div.two.columns &nbsp;
				div.five.columns &nbsp;
				div.five.columns &nbsp;

		div.row
			table#appointment-list(width="100%", cellspacing="0")
				thead
					tr
						td Appointment Name 
						td Date of Appt
						td Next Expiry
						td Current Status
						td
				tbody
					tr
						td 
							a(href='appointment.html') Appointment A001
						td 21/04/14
						td 21/04/14
						td Cover Placed & Invoiced
						td
							div.large.button.dropdown.action(href='#') Action +
								ul.no-hover(style='top: 49px;')
									li
										a(href='#')
											i.icon.pdf
											| Confirmation of Placement
									li
										a(href='appointment-renew.html') 
											i.icon.renew
											| Renew
									li
										a(href='appointment-amend.html') 
											i.icon.amend
											| Amend
									li
										a(href='appointment-cancel.html') 
											i.icon.cancel
											| Cancel
									li
										a(href='appointment-claim.html') 
											i.icon.claim
											| Lodge a Claim
						tr
							td 
								a(href='appointment.html') Appointment A001
							td 21/04/14
							td 21/04/14
							td Cover Placed & Invoiced
							td
								div.large.button.dropdown.action(href='#') Action +
									ul.no-hover(style='top: 49px;')
										li
											a(href='#')
												i.icon.pdf
												| Confirmation of Placement
										li
											a(href='appointment-renew.html') 
												i.icon.renew
												| Renew
										li
											a(href='appointment-amend.html') 
												i.icon.amend
												| Amend
										li
											a(href='appointment-cancel.html') 
												i.icon.cancel
												| Cancel
										li
											a(href='appointment-claim.html') 
												i.icon.claim
												| Lodge a Claim
						tr
							td 
								a(href='appointment.html') Appointment A001
							td 21/04/14
							td 21/04/14
							td Cover Placed & Invoiced
							td
								div.large.button.dropdown.action(href='#') Action +
									ul.no-hover(style='top: 49px;')
										li
											a(href='#')
												i.icon.pdf
												| Confirmation of Placement
										li
											a(href='appointment-renew.html') 
												i.icon.renew
												| Renew
										li
											a(href='appointment-amend.html') 
												i.icon.amend
												| Amend
										li
											a(href='appointment-cancel.html') 
												i.icon.cancel
												| Cancel
										li
											a(href='appointment-claim.html') 
												i.icon.claim
												| Lodge a Claim

current-appointments.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="current-appointments"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left current"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1>Current Appointments</h1>
    </div>
    <div class="four columns head-icon"><i class="icon right"><img src="images/appointment.png"></i></div>
  </div>
</section>
<section class="home curr-apt">
  <div class="row curr">
    <div class="six columns">
      <row class="collapse">
        <div class="ten columns">
          <input type="text" placeholder="Search">
        </div>
        <div class="two columns search"><a href="#"><span class="postfix search"> </span></a></div>
      </row>
    </div>
    <div class="six columns"><a href="#" class="excel right">Export to Excel</a></div>
  </div>
  <section class="reports-header">
    <div class="row">
      <div class="two columns">&nbsp;</div>
      <div class="five columns">&nbsp;</div>
      <div class="five columns">&nbsp;</div>
    </div>
  </section>
  <div class="row">
    <table id="appointment-list" width="100%" cellspacing="0">
      <thead>
        <tr>
          <td>Appointment Name </td>
          <td>Date of Appt</td>
          <td>Next Expiry</td>
          <td>Current Status</td>
          <td></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td> <a href="appointment.html">Appointment A001</a></td>
          <td>21/04/14</td>
          <td>21/04/14</td>
          <td>Cover Placed & Invoiced</td>
          <td>
            <div href="#" class="large button dropdown action">Action +
              <ul style="top: 49px;" class="no-hover">
                <li><a href="#"><i class="icon pdf"></i>Confirmation of Placement</a></li>
                <li><a href="appointment-renew.html"> <i class="icon renew"></i>Renew</a></li>
                <li><a href="appointment-amend.html"> <i class="icon amend"></i>Amend</a></li>
                <li><a href="appointment-cancel.html"> <i class="icon cancel"></i>Cancel</a></li>
                <li><a href="appointment-claim.html"> <i class="icon claim"></i>Lodge a Claim</a></li>
              </ul>
            </div>
          </td>
          <tr>
            <td> <a href="appointment.html">Appointment A001</a></td>
            <td>21/04/14</td>
            <td>21/04/14</td>
            <td>Cover Placed & Invoiced</td>
            <td>
              <div href="#" class="large button dropdown action">Action +
                <ul style="top: 49px;" class="no-hover">
                  <li><a href="#"><i class="icon pdf"></i>Confirmation of Placement</a></li>
                  <li><a href="appointment-renew.html"> <i class="icon renew"></i>Renew</a></li>
                  <li><a href="appointment-amend.html"> <i class="icon amend"></i>Amend</a></li>
                  <li><a href="appointment-cancel.html"> <i class="icon cancel"></i>Cancel</a></li>
                  <li><a href="appointment-claim.html"> <i class="icon claim"></i>Lodge a Claim</a></li>
                </ul>
              </div>
            </td>
          </tr>
          <tr>
            <td> <a href="appointment.html">Appointment A001</a></td>
            <td>21/04/14</td>
            <td>21/04/14</td>
            <td>Cover Placed & Invoiced</td>
            <td>
              <div href="#" class="large button dropdown action">Action +
                <ul style="top: 49px;" class="no-hover">
                  <li><a href="#"><i class="icon pdf"></i>Confirmation of Placement</a></li>
                  <li><a href="appointment-renew.html"> <i class="icon renew"></i>Renew</a></li>
                  <li><a href="appointment-amend.html"> <i class="icon amend"></i>Amend</a></li>
                  <li><a href="appointment-cancel.html"> <i class="icon cancel"></i>Cancel</a></li>
                  <li><a href="appointment-claim.html"> <i class="icon claim"></i>Lodge a Claim</a></li>
                </ul>
              </div>
            </td>
          </tr>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>
