jade/home.jade
extends ./main.jade

block vars
	- var bodyClass = 'home';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Welcome
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-home.png")

	section.home
		div.row
			div.eight.columns.welcome
				div.row
					div.twelve.columns
						div.panel New Notifications
						a.highlight(href="#")
							div.row
								div.two.columns.noti 10/10
								div.ten.columns.info New User Request
						a.highlight(href="#")
							div.row
								div.two.columns.noti 10/10
								div.ten.columns.info New User Request
						a.highlight(href="#")
							div.row
								div.two.columns.noti 10/10
								div.ten.columns.info New User Request

			include _my-settings

home.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="home"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left current"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1>Welcome</h1>
    </div>
    <div class="four columns head-icon"><i class="icon right"><img src="images/gray-home.png"></i></div>
  </div>
</section>
<section class="home">
  <div class="row">
    <div class="eight columns welcome">
      <div class="row">
        <div class="twelve columns">
          <div class="panel">New Notifications</div><a href="#" class="highlight">
            <div class="row">
              <div class="two columns noti">10/10</div>
              <div class="ten columns info">New User Request</div>
            </div></a><a href="#" class="highlight">
            <div class="row">
              <div class="two columns noti">10/10</div>
              <div class="ten columns info">New User Request</div>
            </div></a><a href="#" class="highlight">
            <div class="row">
              <div class="two columns noti">10/10</div>
              <div class="ten columns info">New User Request</div>
            </div></a>
        </div>
      </div>
    </div>
    <div class="four columns sidebar">
      <div class="row">
        <div class="twelve columns">
          <div class="panel callout">My Settings</div><a href="settings-profile.html" class="highlight">
            <div class="row">
              <div class="two columns side-icon"><img src="images/profile-small.png"></div>
              <div class="ten columns side-info">My Profile</div>
            </div></a><a href="settings-manage.html" class="highlight">
            <div class="row">
              <div class="two columns side-icon"><img src="images/manage-small.png"></div>
              <div class="ten columns side-info">Manage Users</div>
            </div></a><a href="settings-company.html" class="highlight">
            <div class="row">
              <div class="two columns side-icon"><img src="images/building-small.png"></div>
              <div class="ten columns side-info">Manage Company Details</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>
