jade/index.jade
extends ./index-layout.jade

block vars
	- var bodyClass = 'index';

block content
	section.index
		div.stripes
		div.inside
			h1 Resilience for a risky world
			section.ghost
				div.row
					div.six.columns
						label Username
						input(type='text', placeholder='')
					div.six.columns
						label Password
						input(type='password', placeholder='')
				div.row
					div.twelve.columns
						a.medium.success.full.button(href='#') Login
				div.row.under
					div.six.columns
						a.create(href="profile.html") 
							img(src="images/create.png")
							| Create New User
					div.six.columns
						a.right(href="#") Forgot Your Password?

index.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <script src="bower_components/modernizr/modernizr.js"></script><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="index">
    <section class="top">
      <div class="twelve columns border-bottom">
        <div class="row extended">
          <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
          <div class="ten columns border-left">
            <h3>Sentinel</h3>
            <div class="top-links"><a href="#">About</a><a href="#">Contact</a></div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
<section class="index">
  <div class="stripes"></div>
  <div class="inside">
    <h1>Resilience for a risky world</h1>
    <section class="ghost">
      <div class="row">
        <div class="six columns">
          <label>Username</label>
          <input type="text" placeholder="">
        </div>
        <div class="six columns">
          <label>Password</label>
          <input type="password" placeholder="">
        </div>
      </div>
      <div class="row">
        <div class="twelve columns"><a href="#" class="medium success full button">Login</a></div>
      </div>
      <div class="row under">
        <div class="six columns"><a href="profile.html" class="create"> <img src="images/create.png">Create New User</a></div>
        <div class="six columns"><a href="#" class="right">Forgot Your Password?</a></div>
      </div>
    </section>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>
