jade/new-appointment.jade
extends ./main.jade

block vars
	- var bodyClass = 'new-appointment';

block content
	section.heading
		div.row
			div.eight.columns
				h1
					span.current 1
					| General Information
			div.two.columns.counter
				span 2
				span 3
				span.check
			div.two.columns.head-icon
				i.icon.right
					img(src="images/gray-clipboard.png")

	section.appointment
		div.row
			div.six.columns.white.form
				label Appointment Date 
				.cal
					input.date-pick(type='text', placeholder='')
				label.small nb. initial policy period is 6 months
			div.six.columns.white.form
				label Reference ID
				input(type='text', placeholder='')
					
	section.appointment
		div.row.border
			div.panel Situation
		div.row
			div.six.columns
				label Address 1
				input(type='text', placeholder='')
			div.six.columns
				label Address 2 (Optional)
				input(type='text', placeholder='')
		div.row
			div.six.columns
				label City
				input(type='text', placeholder='')
			div.three.columns
				label State
				select
					option(value='Victoria') Victoria
					option(value='New South Wales') New South Wales
					option(value='Queensland') Queensland
					option(value='Western Australia') Western Australia
					option(value='South Australia') South Australia
					option(value='Tasmania') Tasmania
			div.three.columns
				label Postcode
				input(type='text', placeholder='')

	section.appointment
		div.row.border
			div.panel Insured Details
		div.row
			div.six.columns
				label Insured Name
				input(type='text', placeholder='')
			div.six.columns
				label Mortgagee
				input(type='text', placeholder='')
		div.row
			div.six.columns
				label Interested Party (Optional)
				input(type='text', placeholder='')

	section.appointment-buttons
		div.row.border
			a.three.columns.back(href="#")
				img(src="images/back.png")
				label Back
			a.three.columns.cancel(href="#")
				img(src="images/cancel.png")
				label Cancel
			a.three.columns.save(href="#")
				img(src="images/save.png")
				label Save as Draft
			a.three.columns.next(href="new-appointment-2.html")
				img(src="images/next.png")
				label Next

new-appointment.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="new-appointment"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left current"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1><span class="current">1</span>General Information</h1>
    </div>
    <div class="two columns counter"><span>2</span><span>3</span><span class="check"></span></div>
    <div class="two columns head-icon"><i class="icon right"><img src="images/gray-clipboard.png"></i></div>
  </div>
</section>
<section class="appointment">
  <div class="row">
    <div class="six columns white form">
      <label>Appointment Date </label>
      <div class="cal">
        <input type="text" placeholder="" class="date-pick">
      </div>
      <label class="small">nb. initial policy period is 6 months</label>
    </div>
    <div class="six columns white form">
      <label>Reference ID</label>
      <input type="text" placeholder="">
    </div>
  </div>
</section>
<section class="appointment">
  <div class="row border">
    <div class="panel">Situation</div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Address 1</label>
      <input type="text" placeholder="">
    </div>
    <div class="six columns">
      <label>Address 2 (Optional)</label>
      <input type="text" placeholder="">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>City</label>
      <input type="text" placeholder="">
    </div>
    <div class="three columns">
      <label>State</label>
      <select>
        <option value="Victoria">Victoria</option>
        <option value="New South Wales">New South Wales</option>
        <option value="Queensland">Queensland</option>
        <option value="Western Australia">Western Australia</option>
        <option value="South Australia">South Australia</option>
        <option value="Tasmania">Tasmania</option>
      </select>
    </div>
    <div class="three columns">
      <label>Postcode</label>
      <input type="text" placeholder="">
    </div>
  </div>
</section>
<section class="appointment">
  <div class="row border">
    <div class="panel">Insured Details</div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Insured Name</label>
      <input type="text" placeholder="">
    </div>
    <div class="six columns">
      <label>Mortgagee</label>
      <input type="text" placeholder="">
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Interested Party (Optional)</label>
      <input type="text" placeholder="">
    </div>
  </div>
</section>
<section class="appointment-buttons">
  <div class="row border"><a href="#" class="three columns back"><img src="images/back.png">
      <label>Back</label></a><a href="#" class="three columns cancel"><img src="images/cancel.png">
      <label>Cancel</label></a><a href="#" class="three columns save"><img src="images/save.png">
      <label>Save as Draft</label></a><a href="new-appointment-2.html" class="three columns next"><img src="images/next.png">
      <label>Next</label></a></div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>
