jade/new-appointment-4.jade
extends ./main.jade

block vars
	- var bodyClass = 'new-appointment';

block content
	section.heading
		div.row
			div.eight.columns
				h1
					span 1
					span 2
					span 3
					span.current.check
					| Submit
			div.two.columns.counter
			div.two.columns.head-icon
				i.icon.right
					img(src="images/submit.png")

	section.alert
		div.row
			div.alert-box.alert.l(data-alert='') Are You Sure You Wish To Proceed?

	section.appointment-buttons
		div.row.border
			a.three.columns.back(href="new-appointment-3.html")
				img(src="images/back.png")
				label Back
			a.three.columns.cancel(href="#")
				img(src="images/cancel.png")
				label Cancel
			a.three.columns.save(href="#")
				img(src="images/save.png")
				label Save as Draft
			a.three.columns.next(href="new-appointment-5.html")
				img(src="images/send.png")
				label Send

	section.appointment.review.second
		div.row.form
			div.three.columns
				label Appointment Date
				span.locked 21/04/2014
			div.nine.columns
				label Period of Cover
				span.locked 21/04/2014 - 21/10/2014
		div.row
			div.twelve.columns
				label Reference ID
				span.locked 12345678
		div.row
			div.twelve.columns
				label Situation
				span.locked 123 Fake St. St Kilda, Victoria 3182
		div.row
			div.three.columns
				label Insured Name
				span.locked Bob Brown
			div.three.columns
				label Mortgagee
				span.locked GE Money
			div.six.columns
				label Interested Party
				span.locked ---
		div.row
			div.three.columns
				label Building
				span.locked $140,000
			div.three.columns
				label Contents
				span.locked $50,000
			div.three.columns
				label Specified Items
				span.locked Not Insured
			div.three.columns
				label Legal Liability
				span.locked $20,000,000
		div.row
			div.three.columns
				label Building Type
				span.locked House
			div.three.columns
				label Occupancy
				span.locked Unoccupied
			div.three.columns
				label Condition
				span.locked Good
			div.three.columns
				label Heritage Listed
				span.locked No
		div.row
			div.twelve.columns
				label Pre-Appointment Damage
				span.locked ---
		div.row
			div.twelve.columns
				label Claims History
				span.locked ---

new-appointment-4.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="new-appointment"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left current"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1><span>1</span><span>2</span><span>3</span><span class="current check"></span>Submit</h1>
    </div>
    <div class="two columns counter"></div>
    <div class="two columns head-icon"><i class="icon right"><img src="images/submit.png"></i></div>
  </div>
</section>
<section class="alert">
  <div class="row">
    <div data-alert="" class="alert-box alert l">Are You Sure You Wish To Proceed?</div>
  </div>
</section>
<section class="appointment-buttons">
  <div class="row border"><a href="new-appointment-3.html" class="three columns back"><img src="images/back.png">
      <label>Back</label></a><a href="#" class="three columns cancel"><img src="images/cancel.png">
      <label>Cancel</label></a><a href="#" class="three columns save"><img src="images/save.png">
      <label>Save as Draft</label></a><a href="new-appointment-5.html" class="three columns next"><img src="images/send.png">
      <label>Send</label></a></div>
</section>
<section class="appointment review second">
  <div class="row form">
    <div class="three columns">
      <label>Appointment Date</label><span class="locked">21/04/2014</span>
    </div>
    <div class="nine columns">
      <label>Period of Cover</label><span class="locked">21/04/2014 - 21/10/2014</span>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>Reference ID</label><span class="locked">12345678</span>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>Situation</label><span class="locked">123 Fake St. St Kilda, Victoria 3182</span>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <label>Insured Name</label><span class="locked">Bob Brown</span>
    </div>
    <div class="three columns">
      <label>Mortgagee</label><span class="locked">GE Money</span>
    </div>
    <div class="six columns">
      <label>Interested Party</label><span class="locked">---</span>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <label>Building</label><span class="locked">$140,000</span>
    </div>
    <div class="three columns">
      <label>Contents</label><span class="locked">$50,000</span>
    </div>
    <div class="three columns">
      <label>Specified Items</label><span class="locked">Not Insured</span>
    </div>
    <div class="three columns">
      <label>Legal Liability</label><span class="locked">$20,000,000</span>
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <label>Building Type</label><span class="locked">House</span>
    </div>
    <div class="three columns">
      <label>Occupancy</label><span class="locked">Unoccupied</span>
    </div>
    <div class="three columns">
      <label>Condition</label><span class="locked">Good</span>
    </div>
    <div class="three columns">
      <label>Heritage Listed</label><span class="locked">No</span>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>Pre-Appointment Damage</label><span class="locked">---</span>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>Claims History</label><span class="locked">---</span>
    </div>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>
