jade/new-appointment-2.jade
extends ./main.jade

block vars
	- var bodyClass = 'new-appointment';

block content
	section.heading
		div.row
			div.eight.columns
				h1
					span 1
					span.current 2
					| Property Details
			div.two.columns.counter
				span 3
				span.check
			div.two.columns.head-icon
				i.icon.right
					img(src="images/building.png")

	section.appointment
		div.row.border
			div.panel Insured Values
		div.row
			div.six.columns
				label Building
				input(type='text', placeholder='')
		div.row
			div.three.columns
				label Contents
				input#standard(type='radio', name='contents_value', value='Standard')
				label.radio(for='standard') Standard ($50,000)
				input#other(type='radio', name='contents_value', value='Other')
				label.radio(for='other') Other (Specify)
			div.three.columns
				input.specify(type='text', placeholder='$')
			div.six.columns
				label Legal Liability
				span.locked $20,000,000

	section.appointment
		div.row.border
			div.panel Building Details
		div.row
			div.four.columns
				label Building Type
				select
					option(value='Type 1') Type 1
					option(value='Type 2') Type 2
					option(value='Type 3') Type 3
			div.four.columns
				label Occupancy
				select
					option(value='1-3') 1-3
					option(value='4-10') 4-10
					option(value='10+') 10+
			div.four.columns
				label Condition of Property
				select
					option(value='Like New') Like New
					option(value='Average') Average
					option(value='Poor') Poor
		div.row
			div.six.columns
				label Heritage Listed
				input#yes-heritage(type='radio', name='heritage_listed', value='Yes')
				label.left.radio(for='yes-heritage') Yes
				input#no-heritage(type='radio', name='heritage_listed', value='No')
				label.left.radio(for='no-heritage') No
			div.four.columns
				label.small Upload Required Valuation Report
				a.medium.success.upload.button(href='#') Choose File

	section.appointment
		div.row.border
			div.panel Claims History
		div.row
			div.six.columns
				label Have Their Been Any Claims in the Past 5 Years?
				input#yes-previous(type='radio', name='previous_claims', value='Yes')
				label.left.radio(for='yes-previous') Yes
				input#no-previous(type='radio', name='previous_claims', value='No')
				label.left.radio(for='no-previous') No
		div.row
			div.twelve.columns
				label If Yes, Provide Details
				textarea(type='text', placeholder='', rows='7')

	section.appointment-buttons
		div.row.border
			a.three.columns.back(href="new-appointment.html")
				img(src="images/back.png")
				label Back
			a.three.columns.cancel(href="#")
				img(src="images/cancel.png")
				label Cancel
			a.three.columns.save(href="#")
				img(src="images/save.png")
				label Save as Draft
			a.three.columns.next(href="new-appointment-3.html")
				img(src="images/next.png")
				label Next

new-appointment-2.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="new-appointment"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left current"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1><span>1</span><span class="current">2</span>Property Details</h1>
    </div>
    <div class="two columns counter"><span>3</span><span class="check"></span></div>
    <div class="two columns head-icon"><i class="icon right"><img src="images/building.png"></i></div>
  </div>
</section>
<section class="appointment">
  <div class="row border">
    <div class="panel">Insured Values</div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Building</label>
      <input type="text" placeholder="">
    </div>
  </div>
  <div class="row">
    <div class="three columns">
      <label>Contents</label>
      <input id="standard" type="radio" name="contents_value" value="Standard">
      <label for="standard" class="radio">Standard ($50,000)</label>
      <input id="other" type="radio" name="contents_value" value="Other">
      <label for="other" class="radio">Other (Specify)</label>
    </div>
    <div class="three columns">
      <input type="text" placeholder="$" class="specify">
    </div>
    <div class="six columns">
      <label>Legal Liability</label><span class="locked">$20,000,000</span>
    </div>
  </div>
</section>
<section class="appointment">
  <div class="row border">
    <div class="panel">Building Details</div>
  </div>
  <div class="row">
    <div class="four columns">
      <label>Building Type</label>
      <select>
        <option value="Type 1">Type 1</option>
        <option value="Type 2">Type 2</option>
        <option value="Type 3">Type 3</option>
      </select>
    </div>
    <div class="four columns">
      <label>Occupancy</label>
      <select>
        <option value="1-3">1-3</option>
        <option value="4-10">4-10</option>
        <option value="10+">10+</option>
      </select>
    </div>
    <div class="four columns">
      <label>Condition of Property</label>
      <select>
        <option value="Like New">Like New</option>
        <option value="Average">Average</option>
        <option value="Poor">Poor</option>
      </select>
    </div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Heritage Listed</label>
      <input id="yes-heritage" type="radio" name="heritage_listed" value="Yes">
      <label for="yes-heritage" class="left radio">Yes</label>
      <input id="no-heritage" type="radio" name="heritage_listed" value="No">
      <label for="no-heritage" class="left radio">No</label>
    </div>
    <div class="four columns">
      <label class="small">Upload Required Valuation Report</label><a href="#" class="medium success upload button">Choose File</a>
    </div>
  </div>
</section>
<section class="appointment">
  <div class="row border">
    <div class="panel">Claims History</div>
  </div>
  <div class="row">
    <div class="six columns">
      <label>Have Their Been Any Claims in the Past 5 Years?</label>
      <input id="yes-previous" type="radio" name="previous_claims" value="Yes">
      <label for="yes-previous" class="left radio">Yes</label>
      <input id="no-previous" type="radio" name="previous_claims" value="No">
      <label for="no-previous" class="left radio">No</label>
    </div>
  </div>
  <div class="row">
    <div class="twelve columns">
      <label>If Yes, Provide Details</label>
      <textarea type="text" placeholder="" rows="7"></textarea>
    </div>
  </div>
</section>
<section class="appointment-buttons">
  <div class="row border"><a href="new-appointment.html" class="three columns back"><img src="images/back.png">
      <label>Back</label></a><a href="#" class="three columns cancel"><img src="images/cancel.png">
      <label>Cancel</label></a><a href="#" class="three columns save"><img src="images/save.png">
      <label>Save as Draft</label></a><a href="new-appointment-3.html" class="three columns next"><img src="images/next.png">
      <label>Next</label></a></div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>
