profile-error.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="profile"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading error">
  <div data-alert="" class="alert-box alert">Please Fill All Required Fields*
    
  </div>
</section>
<section class="main">
  <div class="row first">
    <div class="four columns">
      <label>First Name</label>
      <input type="text" placeholder="">
    </div>
    <div class="four columns">
      <label>Last Name</label>
      <input type="text" placeholder="">
    </div>
    <div class="four columns">
      <label>Email</label>
      <input type="email" placeholder="" class="error">
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <label>Enable Email Notifications</label>
      <input id="yes-email" type="radio" name="email-notification" value="Yes">
      <label for="yes-email" class="left radio">Yes</label>
      <input id="no-email" type="radio" name="email-notification" value="No">
      <label for="no-email" class="radio">No</label>
    </div>
    <div class="four columns">
      <label>Password</label>
      <input type="password" placeholder="">
    </div>
    <div class="four columns">
      <label>Re-Enter Password</label>
      <input type="password" placeholder="">
    </div>
  </div>
  <div class="row">
    <div class="four columns">
      <label>Administrator's Email</label>
      <input type="text" placeholder="" class="error">
    </div>
  </div>
  <div class="row last">
    <div class="twelve columns">
      <label>Willis' Internet Terms of Use</label>
      <input id="terms" type="checkbox">
      <label for="terms" class="check">I Agree to the Terms of Use</label>
    </div>
  </div>
</section>
<section class="buttons">
  <div class="row">
    <div class="six columns"><a href="#" class="medium secondary button">Back</a></div>
    <div class="six columns"><a href="#" class="medium success right button">Submit for Approval</a></div>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>

jade/profile-error.jade
extends ./main.jade

block vars
	- var bodyClass = 'profile';

block content

	section.heading.error
		div.alert-box.alert(data-alert='') Please Fill All Required Fields*
			//- a.close(href='') x


	section.main
		div.row.first
			div.four.columns
				label First Name
				input(type='text', placeholder='')
			div.four.columns
				label Last Name
				input(type='text', placeholder='')
			div.four.columns
				label Email
				input.error(type='email', placeholder='')

		div.row
			div.four.columns
				label Enable Email Notifications
				input#yes-email(type='radio', name='email-notification', value='Yes')
				label.left.radio(for='yes-email') Yes
				input#no-email(type='radio', name='email-notification', value='No')
				label.radio(for='no-email') No
			div.four.columns
				label Password
				input(type='password', placeholder='')
			div.four.columns
				label Re-Enter Password
				input(type='password', placeholder='')

		div.row
			div.four.columns
				label Administrator's Email
				input.error(type='text', placeholder='')

		div.row.last
			div.twelve.columns
				label Willis' Internet Terms of Use
				input#terms(type='checkbox')
				label.check(for='terms') I Agree to the Terms of Use

	section.buttons
		div.row
			div.six.columns
				a.medium.secondary.button(href='#') Back
			div.six.columns
				a.medium.success.right.button(href='#') Submit for Approval
