jade/reports.jade
extends ./main.jade

block vars
	- var bodyClass = 'reports';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Reports
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-reports.png")

	section.reports-header
		div.row
			div.two.columns &nbsp;
			div.five.columns &nbsp;
			div.five.columns &nbsp;

	section.home
		div.row
			table#reports(width="100%", cellspacing="0")
				thead
					tr
						td.space(width="50px") 
						td.large Report
						td.large Date Added
				tbody
					tr#status-reports.light.accordion
						td.space(width="50px") 
							div.large.button.dropdown.action(href='#') +
						td.report-title 
							a(href="#") Status Report
						td 18/10/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/09/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/08/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/07/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/06/2014
					tr.status-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Status Report
						td(width="190px") 18/05/2014

					tr#debtor-reports.dark.accordion
						td.space(width="50px") 
							div.large.button.dropdown.action(href='#') +
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/10/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/09/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/08/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/07/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/06/2014
					tr.debtor-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Debtor Report
						td(width="190px") 18/05/2014

					tr#claims-reports.light.accordion
						td.space(width="50px") 
							div.large.button.dropdown.action(href='#') +
						td.report-title 
							a(href="#") Claims Report
						td 18/10/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/09/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/08/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/07/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/06/2014
					tr.claims-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Claim Report
						td(width="190px") 18/05/2014

					tr#users-reports.dark.accordion
						td.space(width="50px") 
							div.large.button.dropdown.action(href='#') +
						td.report-title 
							a(href="#") Users Report
						td 18/10/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/09/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/08/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/07/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/06/2014
					tr.users-reports-archive.hidd
						td.space(width="50px") 
						td.report-title 
							a(href="#") Users Report
						td(width="190px") 18/05/2014

reports.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="reports"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left current"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1>Reports</h1>
    </div>
    <div class="four columns head-icon"><i class="icon right"><img src="images/gray-reports.png"></i></div>
  </div>
</section>
<section class="reports-header">
  <div class="row">
    <div class="two columns">&nbsp;</div>
    <div class="five columns">&nbsp;</div>
    <div class="five columns">&nbsp;</div>
  </div>
</section>
<section class="home">
  <div class="row">
    <table id="reports" width="100%" cellspacing="0">
      <thead>
        <tr>
          <td width="50px" class="space"> </td>
          <td class="large">Report</td>
          <td class="large">Date Added</td>
        </tr>
      </thead>
      <tbody>
        <tr id="status-reports" class="light accordion">
          <td width="50px" class="space"> 
            <div href="#" class="large button dropdown action">+</div>
          </td>
          <td class="report-title"> <a href="#">Status Report</a></td>
          <td>18/10/2014</td>
        </tr>
        <tr class="status-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Status Report</a></td>
          <td width="190px">18/09/2014</td>
        </tr>
        <tr class="status-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Status Report</a></td>
          <td width="190px">18/08/2014</td>
        </tr>
        <tr class="status-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Status Report</a></td>
          <td width="190px">18/07/2014</td>
        </tr>
        <tr class="status-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Status Report</a></td>
          <td width="190px">18/06/2014</td>
        </tr>
        <tr class="status-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Status Report</a></td>
          <td width="190px">18/05/2014</td>
        </tr>
        <tr id="debtor-reports" class="dark accordion">
          <td width="50px" class="space"> 
            <div href="#" class="large button dropdown action">+</div>
          </td>
          <td class="report-title"> <a href="#">Debtor Report</a></td>
          <td width="190px">18/10/2014</td>
        </tr>
        <tr class="debtor-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Debtor Report</a></td>
          <td width="190px">18/09/2014</td>
        </tr>
        <tr class="debtor-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Debtor Report</a></td>
          <td width="190px">18/08/2014</td>
        </tr>
        <tr class="debtor-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Debtor Report</a></td>
          <td width="190px">18/07/2014</td>
        </tr>
        <tr class="debtor-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Debtor Report</a></td>
          <td width="190px">18/06/2014</td>
        </tr>
        <tr class="debtor-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Debtor Report</a></td>
          <td width="190px">18/05/2014</td>
        </tr>
        <tr id="claims-reports" class="light accordion">
          <td width="50px" class="space"> 
            <div href="#" class="large button dropdown action">+</div>
          </td>
          <td class="report-title"> <a href="#">Claims Report</a></td>
          <td>18/10/2014</td>
        </tr>
        <tr class="claims-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Claim Report</a></td>
          <td width="190px">18/09/2014</td>
        </tr>
        <tr class="claims-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Claim Report</a></td>
          <td width="190px">18/08/2014</td>
        </tr>
        <tr class="claims-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Claim Report</a></td>
          <td width="190px">18/07/2014</td>
        </tr>
        <tr class="claims-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Claim Report</a></td>
          <td width="190px">18/06/2014</td>
        </tr>
        <tr class="claims-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Claim Report</a></td>
          <td width="190px">18/05/2014</td>
        </tr>
        <tr id="users-reports" class="dark accordion">
          <td width="50px" class="space"> 
            <div href="#" class="large button dropdown action">+</div>
          </td>
          <td class="report-title"> <a href="#">Users Report</a></td>
          <td>18/10/2014</td>
        </tr>
        <tr class="users-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Users Report</a></td>
          <td width="190px">18/09/2014</td>
        </tr>
        <tr class="users-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Users Report</a></td>
          <td width="190px">18/08/2014</td>
        </tr>
        <tr class="users-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Users Report</a></td>
          <td width="190px">18/07/2014</td>
        </tr>
        <tr class="users-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Users Report</a></td>
          <td width="190px">18/06/2014</td>
        </tr>
        <tr class="users-reports-archive hidd">
          <td width="50px" class="space"> </td>
          <td class="report-title"> <a href="#">Users Report</a></td>
          <td width="190px">18/05/2014</td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>
