settings-profile.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="profile settings"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left current"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1>My Profile</h1>
    </div>
    <div class="four columns head-icon"><i class="icon right"><img src="images/gray-settings.png"></i></div>
  </div>
</section>
<section class="home">
  <div class="row">
    <div class="eight columns white profile">
      <div class="row">
        <div class="twelve columns form">
          <div class="row first">
            <div class="twelve columns">
              <label>Email Address</label>
              <input type="email" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label>Enable Email Notifications</label>
              <input id="yes-email" type="radio" name="email-notification" value="Yes">
              <label for="yes-email" class="left radio">Yes</label>
              <input id="no-email" type="radio" name="email-notification" value="No">
              <label for="no-email" class="left radio">No</label>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <label>Current Password</label>
              <input type="password" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <label>New Password</label>
              <input type="password" placeholder="">
            </div>
            <div class="six columns">
              <label>Re-enter New Password</label>
              <input type="password" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="six columns"><a href="#" class="medium success full button">Change</a></div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label>Address 1</label><span class="locked">123 Fake St</span>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label>Address 2</label><span class="locked">Line 2</span>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label>City</label><span class="locked">St Kilda</span>
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <label>State</label><span class="locked">Victoria</span>
            </div>
            <div class="six columns">
              <label>Postcode</label><span class="locked">3182</span>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns"><a href="#" class="medium success full button">Save Changes</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="four columns sidebar">
      <div class="row">
        <div class="twelve columns">
          <div class="panel callout">My Settings</div><a href="settings-profile.html" class="highlight current">
            <div class="row">
              <div class="two columns side-icon"><img src="images/profile-yellow.png"></div>
              <div class="ten columns side-info">My Profile</div>
            </div></a><a href="settings-manage.html" class="highlight">
            <div class="row">
              <div class="two columns side-icon"><img src="images/manage-small.png"></div>
              <div class="ten columns side-info">Manage Users</div>
            </div></a><a href="settings-company.html" class="highlight">
            <div class="row">
              <div class="two columns side-icon"><img src="images/building-small.png"></div>
              <div class="ten columns side-info">Manage Company Details</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>

jade/settings-profile.jade
extends ./main.jade

block vars
	- var bodyClass = 'profile settings';

block content
	section.heading
		div.row
			div.eight.columns
				h1 My Profile
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-settings.png")

	section.home
		div.row
			div.eight.columns.white.profile
				div.row
					div.twelve.columns.form
						div.row.first
							div.twelve.columns
								label Email Address
								input(type='email', placeholder='')
						div.row
							div.twelve.columns
								label Enable Email Notifications
								input#yes-email(type='radio', name='email-notification', value='Yes')
								label.left.radio(for='yes-email') Yes
								input#no-email(type='radio', name='email-notification', value='No')
								label.left.radio(for='no-email') No
						div.row
							div.six.columns
								label Current Password
								input(type='password', placeholder='')
						div.row
							div.six.columns
								label New Password
								input(type='password', placeholder='')
							div.six.columns
								label Re-enter New Password
								input(type='password', placeholder='')
						div.row
							div.six.columns
								a.medium.success.full.button(href='#') Change

						div.row
							div.twelve.columns
								label Address 1
								span.locked 123 Fake St
						div.row
							div.twelve.columns
								label Address 2
								span.locked Line 2
						div.row
							div.twelve.columns
								label City
								span.locked St Kilda
						div.row
							div.six.columns
								label State
								span.locked Victoria
							div.six.columns
								label Postcode
								span.locked 3182
						div.row
							div.twelve.columns
								a.medium.success.full.button(href='#') Save Changes


			include _my-settings
