settings-company.html
<!DOCTYPE html>
<html>
  <head>
    <title>Willis</title>
    <link rel="stylesheet" href="stylesheets/foundation.css">
    <link rel="stylesheet" href="stylesheets/screen.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <meta name="viewport" content="width=600, user-scalable=no" initial-scale="1"><!--[if lt IE 9]>
	<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.2/html5shiv.js"></script>
  <script src="//s3.amazonaws.com/nwapi/nwmatcher/nwmatcher-1.2.5-min.js"></script>
  <script src="//html5base.googlecode.com/svn-history/r38/trunk/js/selectivizr-1.0.3b.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.1.0/respond.min.js"></script>
  <link rel="stylesheet" type="text/css" href="stylesheets/ie.css" />
<![endif]-->

  </head>
  <body class="company settings"></body>
  <section class="top">
    <div class="twelve columns border-bottom">
      <div class="row extended">
        <div class="logo"><a href="home.html"><img src="images/willis.png"></a></div>
        <div class="ten columns border-left">
          <h3>Sentinel</h3>
          <div class="status">Logged in as [username], [account]<a href="#" class="logout">Logout</a></div>
          <div class="top-links page"><a href="#">About</a><a href="#">Contact</a></div>
        </div>
      </div>
    </div>
  </section>
  <section class="blue">
    <div class="row">
      <div class="twelve columns">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left current"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
  <section class="butterfly">
    <div class="row">
      <div class="twelve columns nopad">
        <div class="row">Menu</div>
      </div>
    </div>
  </section>
  <section class="mobile"> 
    <div class="row">
      <div class="twelve columns nopad">
        <ul class="block-grid five-up">
          <li class="border-right border-left"><a href="home.html"><i class="icon home"></i>
              <div class="text"><span>home</span></div></a></li>
          <li class="border-right border-left"><a href="new-appointment.html"><i class="icon new"></i>
              <div class="text"><span>new appointment</span></div></a></li>
          <li class="border-right border-left"><a href="current-appointments.html"><i class="icon current-appointments"></i>
              <div class="text"><span>current appointments</span></div></a></li>
          <li class="border-right border-left"><a href="reports.html"><i class="icon reports"></i>
              <div class="text"><span>reports</span></div></a></li>
          <li class="border-right border-left"><a href="settings-profile.html"><i class="icon settings"></i>
              <div class="text"><span>settings</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>about</span></div></a></li>
          <li class="border-right border-left"><a href="#"><i class="icon settings"></i>
              <div class="text"><span>contact</span></div></a></li>
        </ul>
      </div>
    </div>
  </section>
</html>
<section class="heading">
  <div class="row">
    <div class="eight columns">
      <h1>Company Details</h1>
    </div>
    <div class="four columns head-icon"><i class="icon right"><img src="images/gray-settings.png"></i></div>
  </div>
</section>
<section class="home">
  <div class="row">
    <div class="eight columns white profile">
      <div class="row">
        <div class="twelve columns form">
          <div class="row first">
            <div class="twelve columns">
              <label>Company Name</label>
              <input type="text" placeholder="">
            </div>
          </div>
          <div class="row first">
            <div class="twelve columns">
              <label>Address 1</label>
              <input type="text" placeholder="">
            </div>
          </div>
          <div class="row first">
            <div class="twelve columns">
              <label>Address 2 (optional)</label>
              <input type="text" placeholder="">
            </div>
          </div>
          <div class="row first">
            <div class="twelve columns">
              <label>City</label>
              <input type="text" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="six columns">
              <label>State</label>
              <select>
                <option value="Victoria">Victoria</option>
                <option value="New South Wales">New South Wales</option>
                <option value="Queensland">Queensland</option>
                <option value="Western Australia">Western Australia</option>
                <option value="South Australia">South Australia</option>
                <option value="Tasmania">Tasmania</option>
              </select>
            </div>
            <div class="six columns">
              <label>Postcode</label>
              <input type="text" placeholder="">
            </div>
          </div>
          <div class="row">
            <div class="twelve columns">
              <label>Administrators</label>
              <table width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>User Name</th>
                    <th width="150">Date Added</th>
                    <th width="200" class="right">Access Level</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>John</td>
                    <td>18/10/2014</td>
                    <td class="right">Admin
                      <div href="#" class="large button dropdown">+
                        <ul style="top: 49px;" class="no-hover">
                          <li><a href="#">Locked</a></li>
                          <li><a href="#">User</a></li>
                          <li><a href="#">Admin</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Sally</td>
                    <td>13/03/2014</td>
                    <td class="right">Admin
                      <div href="#" class="large button dropdown">+
                        <ul style="top: 49px;" class="no-hover">
                          <li><a href="#">Locked</a></li>
                          <li><a href="#">User</a></li>
                          <li><a href="#">Admin</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>Frank</td>
                    <td>28/01/2014</td>
                    <td class="right">Admin
                      <div href="#" class="large button dropdown">+
                        <ul style="top: 49px;" class="no-hover">
                          <li><a href="#">Locked</a></li>
                          <li><a href="#">User</a></li>
                          <li><a href="#">Admin</a></li>
                        </ul>
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="row">
            <div class="twelve columns"><a href="#" class="medium success full button">Save Changes</a></div>
          </div>
        </div>
      </div>
    </div>
    <div class="four columns sidebar">
      <div class="row">
        <div class="twelve columns">
          <div class="panel callout">My Settings</div><a href="settings-profile.html" class="highlight">
            <div class="row">
              <div class="two columns side-icon"><img src="images/profile-small.png"></div>
              <div class="ten columns side-info">My Profile</div>
            </div></a><a href="settings-manage.html" class="highlight">
            <div class="row">
              <div class="two columns side-icon"><img src="images/manage-small.png"></div>
              <div class="ten columns side-info">Manage Users</div>
            </div></a><a href="settings-company.html" class="highlight current">
            <div class="row">
              <div class="two columns side-icon"><img src="images/building-yellow.png"></div>
              <div class="ten columns side-info">Manage Company Details</div>
            </div></a>
        </div>
      </div>
    </div>
  </div>
</section>
<div id="footer"><span>Copyright &copy; 2015 Willis Group Holdings | AFSL 240600</span></div>
<script src="javascripts/jquery.js"></script>
<script src="javascripts/foundation.min.js"></script>
<script src="javascripts/background-size.js"></script>
<script src="javascripts/foundation-datepicker.js"></script>
<script src="javascripts/app.js"></script>

jade/settings-company.jade
extends ./main.jade

block vars
	- var bodyClass = 'company settings';

block content
	section.heading
		div.row
			div.eight.columns
				h1 Company Details
			div.four.columns.head-icon
				i.icon.right
					img(src="images/gray-settings.png")

	section.home
		div.row
			div.eight.columns.white.profile
				div.row
					div.twelve.columns.form
						div.row.first
							div.twelve.columns
								label Company Name
								input(type='text', placeholder='')
						div.row.first
							div.twelve.columns
								label Address 1
								input(type='text', placeholder='')
						div.row.first
							div.twelve.columns
								label Address 2 (optional)
								input(type='text', placeholder='')
						div.row.first
							div.twelve.columns
								label City
								input(type='text', placeholder='')
						div.row
							div.six.columns
								label State
								select
									option(value='Victoria') Victoria
									option(value='New South Wales') New South Wales
									option(value='Queensland') Queensland
									option(value='Western Australia') Western Australia
									option(value='South Australia') South Australia
									option(value='Tasmania') Tasmania
							div.six.columns
								label Postcode
								input(type='text', placeholder='')

						div.row
							div.twelve.columns
								label Administrators
								table(width="100%", cellspacing="0")
									thead
										tr
											th User Name
											th(width='150') Date Added
											th.right(width='200') Access Level
									tbody
										tr
											td John
											td 18/10/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin

										tr
											td Sally
											td 13/03/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin
										tr
											td Frank
											td 28/01/2014
											td.right Admin
												div.large.button.dropdown(href='#') +
													ul.no-hover(style='top: 49px;')
														li
															a(href='#') Locked
														li
															a(href='#') User
														li
															a(href='#') Admin

						div.row
							div.twelve.columns
								a.medium.success.full.button(href='#') Save Changes



			include _my-settings
